Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=mytunesData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=mytunesData
Author: Stanislaw Pusep <creaktive@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: myTunes
Package: net.iwatcher.mytunes
Section: System
Installed-Size: 56
Version: 0.3
Architecture: iphoneos-arm
Description: Access iTunes media files stored on your device through the 'Media/myTunes' folder accessible via SCP, iPhoneBrowser or iFile internal server.
Sponsor: thebigboss.org <http://thebigboss.org>
dev: iwatcher
